<%= form_with model: @post, class: 'post-form' do |f| %>
<ul>
    <% @post.errors.full_messages.each do |error|%>
        <li><%= error %></li>
    <% end %>
</ul>
    <p class = "post-form-title">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </p>
    <p class = 'post-form-body'>
        <%= f.label :body %>
        <%= f.rich_text_area :body%>
    </p>
    <p class = 'post-form-tags'>
        <%= f.label :tags_list%> <br/>
        <%= f.text_field :tag_list%>
    </p>
    <p class="post-form-files">
        <%= f.label 'Files' %>
        <%= f.file_field :uploads, multiple: true%>
    </p>
    <p class='submit-container'>
        <%= f.submit %>
    </p>
<% end %>