<%= stylesheet_link_tag 'post-page'%>
<div class = 'post-header'>
    <h2 class = "post-title"><%= @post.title %></h2>
    <p>Tags: 
        <% @post.tags.each do |tag|%>
            <%= link_to tag.name, tag_path(tag)%>
        <% end %>
    </p>
    <h4 class='post-creation'><span class = 'post-author'>Author </span><span><%=@post.created_at.strftime("Posted on %d/%m/%Y %I:%M%p")%></span></h3>
</div>
<%if true %>
    <div class ="edit-btn-container">
        <%= link_to 'EDIT', edit_post_path(@post), class: 'edit-btn'%>
    </div>
<% end %>

<p class = 'post-body'><%= @post.body %></p>

<div class="comments-section">
    <h3>Comments: (<%= @post.comments.size %>)</h3>
    <%= render partial: 'posts/comment', collection: @post.comments%>
    <%= render partial: 'comments/form'%>
</div>
