<%= stylesheet_link_tag 'post-page'%>

<script src="https://cdn.babylonjs.com/viewer/babylon.viewer.js"></script>

<div class = 'post-header'>
    <h2 class = "post-title"><%= @post.title %></h2>
    <p>Tags: 
        <% @post.tags.each do |tag|%>
            <%= link_to tag.name, tag_path(tag)%>
        <% end %>
    </p>
    <h4 class='post-creation'><span class = 'post-author'>Author </span><span><%=@post.created_at.strftime("Posted on %d/%m/%Y %I:%M%p")%></span></h3>
</div>
<%if true %>
    <div class ="edit-btn-container">
        <%= link_to 'EDIT', edit_post_path(@post), class: 'edit-btn'%>
    </div>
<% end %>



<img src="<%= @post.uploads.first%>" alt="">
    <% @post.uploads.each do |upload|%>
    <%if upload.image? %>
        <img src="<%= url_for(upload)%>" alt="" srcset="" height='300'> 
    <% elsif upload.video? %>
        <video src="<%=url_for(upload)%>"></video>
    <% else %>
        <%= link_to upload.filename , url_for(upload) %>
         <%= upload.open do |file| %>
         <p><%= file %></p>
            <babylon model = "<%= file.path %>">
        <% end %>
    <% end %>

<% end %>


<p class = 'post-body'><%= @post.body %></p>

<div class="comments-section">
    <h3>Comments: (<%= @post.comments.size %>)</h3>
    <%= render partial: 'posts/comment', collection: @post.comments%>
    <%= render partial: 'comments/form'%>
</div>
