<!DOCTYPE html>
<html>
  <head>
    <title>GameBlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Josefin+Slab&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class = "banner-container">
      <h1>Unnamed Game</h1>
    </div>
    <nav>
      <ul>
        <li><a href="<%=root_path%>">Home</a></li>
        <li><a href="/posts">Updates</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/tags">Tags</a></li>
        <% if current_user%>
          <li><%= link_to 'Log Out', log_out_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Log In', log_in_path %></li>
          <% end %>
      </ul>
    </nav>
    
    
    <div class= 'inserted-content'>
    <p class="flash"><%=flash.notice%></p>
      <%= yield %>
    </div>


    <footer>
    </footer>

  </body>

</html>
