<!DOCTYPE html>
<html>
  <head>
    <title>GameBlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "banner-container">
      <div class="title-background">
        <h1>Game Title</h1>
      </div>
    </div>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path%></li>
        <li><%= link_to 'Updates!', posts_path%></li>
        <li><%= link_to 'About Us', about_path %></li>
        <li><%= link_to 'Search', root_path%></li>
        <li><%= link_to 'Log In/Out', root_path%></li>
      </ul>
    </nav>
   <p class="flash">
    <%= flash.notice %>
   </p>
    <%= yield %>
  </body>
</html>
